[project]
	description = DNS library in Go
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Miek Gieben (miekg)
[access "refs/for/refs/*"]
	read = group user/Miek Gieben (miekg)
	push = group user/Miek Gieben (miekg)
	label-Code-Review = -2..+2 group user/Miek Gieben (miekg)
	label-Verified = -1..+1 group user/Miek Gieben (miekg)
	rebase = group user/Miek Gieben (miekg)
	removeReviewer = group user/Miek Gieben (miekg)
	submit = group user/Miek Gieben (miekg)
[access "refs/heads/*"]
	read = group user/Miek Gieben (miekg)
	create = group user/Miek Gieben (miekg)
	push = +force group user/Miek Gieben (miekg)
	pushMerge = group user/Miek Gieben (miekg)
[access "refs/tags/*"]
	push = group user/Miek Gieben (miekg)
	push = +force group user/Miek Gieben (miekg)
