#name: CIFuzz
#on:
#  pull_request:
#    branches:
#      - master
#    paths:
#      - '**.go'
#jobs:
# Fuzzing:
#   runs-on: ubuntu-latest
#   steps:
#   - name: Build Fuzzers
#     uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@master
#     with:
#       oss-fuzz-project-name: 'go-dns'
#       dry-run: false
#   - name: Run Fuzzers
#     uses: google/oss-fuzz/infra/cifuzz/actions/run_fuzzers@master
#     with:
#       oss-fuzz-project-name: 'go-dns'
#       fuzz-seconds: 300
#       dry-run: false
#   - name: Upload Crash
#     uses: actions/upload-artifact@v1
#     if: failure()
#     with:
#       name: artifacts
#       path: ./out/artifacts
